services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: job_radar_db
    ports:
      - "5432:5432"
    volumes:
      - ./init/docker-entrypoint-initdb.d/:/docker-entrypoint-initdb.d/
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d job_radar_db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-dev}
      TG_BOT_TOKEN: ${TG_BOT_TOKEN:-}
      TG_BOT_NAME: ${TG_BOT_NAME:-job_radar_test_bot}
      PROVIDER_TOKEN: ${PROVIDER_TOKEN:-}
      DEEPSEEK_API_KEY: ${DEEPSEEK_API_KEY:-}
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/job_radar_db
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME:-postgres}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD:-postgres}
    ports:
      - "9100:9100"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres_data: